.clinets {
  margin: auto;
}

#images-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
  justify-items: center;
}

.clinets-cards {
  width: 230px;
  height: 200px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clinets-cards img {
  width: 115px;
}
