#call-us {
  width: 100%;
  max-width: 1350px;
  margin: auto;
  margin-bottom: 134px;
  display: flex;
}

#right-side-form {
  width: 578px;
  height: 465px;
  padding-right: 50px;
  /* padding-bottom: 38px; */
  padding-left: 50px;
  gap: 29px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-left: none;
}

#right-form-title {
  width: 359px;
  height: 84px;
  gap: 7px;
  margin-bottom: 29px;
}

#right-form-title p {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  text-align: right;
  color: #e98a31;
  margin-bottom: 7px;
}

#right-form-title h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-align: right;
}

#right-form-text {
  font-weight: 500;
  font-size: 15px;
  line-height: 170%;
  text-align: right;
  margin-bottom: 30px;
}

#our-info {
  width: 259px;
  height: 125px;
}

#our-info div {
  display: flex;
  gap: 14px;
  margin-top: 14px;
}

#our-info div img {
  width: 27px;
  height: 27px;
}

#our-info div p {
  font-weight: 500;
  font-size: 12px;
  line-height: 170%;
  text-align: right;
  color: #6d6d6d;
}

#our-info div:hover {
  cursor: pointer;
}

/* left side form */

#left-side-container {
  width: 691px;
  height: 150px;
  gap: 15px;
  justify-content: space-between;
  margin: 40px 0;
  margin-right: 18px;
  margin-left: 64px;
  text-align: center;
}

#first-name {
  margin-left: 20px;
}

#first-name,
#seconde-name {
  width: 328px;
  height: 40px;
  border-radius: 6px;
  padding-top: 7px;
  padding-right: 25px;
  padding-bottom: 7px;
  padding-left: 65px;
  border: 0.5px solid #bababa;
}
#first-name::placeholder,
#seconde-name::placeholder,
#email::placeholder,
#message::placeholder {
  top: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 170%;
  text-align: right;
  color: #bababa;
}

#left-inputs {
  text-align: end;
  margin-bottom: 20px;
}

#left-inputs {
  position: relative;
  display: inline-block;
}

#email {
  margin: 20px auto;
  width: 98.5%;
  height: 40px;
  border-radius: 6px;
  padding-top: 7px;
  padding-right: 25px;
  padding-bottom: 7px;
  padding-left: 65px;
  border: 0.5px solid #bababa;
}

#message {
  width: 98.5%;
  padding-bottom: 156px;
  padding-right: 15px;
  padding-top: 10px;
  border-radius: 6px;
  border: 0.5px solid #bababa;
}

/* Submit */
#submit {
  height: 40px;
  gap: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#submit p {
  width: 400px;
  height: 40px;
  font-weight: 500;
  font-size: 12px;
  line-height: 170%;
  text-align: right;
  color: #818181;
}

#submit button {
  width: 169px;
  height: 40px;
  padding: 7px 65px;
  gap: 10px;
  border-radius: 6px;
  border: none;
  color: white;
  font-family: "Tajawal", sans-serif;
  background: linear-gradient(92.57deg, #e98a31 43.65%, #834e1c 151.05%);
  background-size: 200% 100%;
  background-position: left;
  transition: background-position 0.4s ease;
}

#submit button:hover {
  cursor: pointer;
  background-position: right;
}

/* Mobile Screen */
@media (max-width: 767px) {
  #call-us {
    margin: auto;
    margin-bottom: 134px;
    flex-direction: column;
  }

  #right-side-form {
    width: 95vw;
    height: 100%;
    margin: auto;
    border-radius: 30px;
    border: none;
    box-shadow: none;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
  }

  #right-form-title {
    width: 259px;
    margin-bottom: 0;
  }

  #right-form-title p {
    font-weight: 600;
    font-size: 15px;
    text-align: right;
    margin-bottom: 7px;
  }

  #right-form-title h2 {
    width: 270px;
    font-weight: 600;
    font-size: 15px;
    text-align: right;
    margin-top: 20px;
  }

  #right-form-text {
    width: 100%;
    font-weight: 400;
    font-size: 10px;
    text-align: right;
    margin-bottom: 0;
  }

  #right-form-text p {
    margin-left: 10%;
  }

  /* left side (down on mobile) */
  #left-side-container {
    width: 691px;
    height: 150px;
    gap: 15px;
    justify-content: space-between;
    margin: 40px 0;
    margin-right: 18px;
    margin-left: 64px;
    text-align: center;
  }

  #left-side-form {
    width: 95vw;
    height: 550px;
    margin-top: -31px;
    margin: auto;
    gap: 29px;
    border-radius: 30px;
    border: none;
    background-color: #ffffff;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }

  #left-inputs {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
  #left-inputs input {
    width: 315px;
    margin-bottom: 20px;
  }

  #left-inputs .prefix {
    left: 56%;
    transform: translateY(-250%);
  }

  #submit {
    flex-direction: column;
    width: 60vw;
    gap: 34px;
    align-items: center;
    margin-right: 88px;
  }

  #submit p {
    width: 300px;
    margin-left: 29%;
    font-weight: 500;
    font-size: 12px;
    line-height: 170%;
    text-align: center;
    color: #818181;
  }

  #submit button {
    width: 169px;
    height: 40px;
    margin-left: 29%;
    margin-top: 10px;
    border-radius: 6px;
    background-color: #202020;
    color: white;
    font-family: "Tajawal", sans-serif;
  }
}
