.customers {
  margin: auto;
  width: 1350px;
  overflow: hidden;
  box-sizing: border-box;
  direction: rtl;
  padding: 20px 0;
}

.customers-slider {
  display: flex;
  gap: 20px;
  width: max-content;
  user-select: none;
  transition: transform 0.1s linear;
}

.customers-img-wrapper {
  width: 150px;
  height: 150px;
  border: 2px solid rgba(66, 73, 82, 0.06);
  border-radius: 8px;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.customers-img-wrapper:hover {
  cursor: pointer;
}

.customers-img-wrapper img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}

.customers-slider img {
  flex-shrink: 0;
  border-radius: 8px;
  height: auto;
  padding: 0;
  box-sizing: border-box;
  transition: transform 0.3s ease;
  margin-top: 0;
  margin-bottom: 0;
  border: none;
}
